body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width:  100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
   display: flex;
   flex-wrap: wrap;
   width: 256px;
   height: 256px;
}

.box {
    background-color: black;
    width: 16px;
    height: 16px;
}

.white-color {
    background-color: white;
}

.red-color {
    background-color: red;
}

.blue-color {
    background-color: blue;
}

.yellow-color {
    background-color: yellow;
}

.green-color {
    background-color: green;
}

.grid-size-button {
    margin-bottom: 50px;
}