* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: 1a1a1a;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
}

.message-div {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

.message {
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
}

.main-container {
    display: flex;
    height: 500px;
    margin-bottom: 20px;
}

.colorsBtn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 500px;
    padding: 40px;
}

.btn {
    height: 32px;
    width: 120px;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.change-size {
    background-color: rgb(0, 119, 255);
}

.reset-btn {
    background-color: rgb(255, 76, 31);
}

.canvas {
    display: grid;
    width: 500px;
    height: 500px;
}

.form-div {
    display: flex;
    align-items: center;
}

.change-size-form {
    margin-right: 40px;
}

.get-size {
    height: 26px;
    background-color: #acacac;
    border: none;
    padding-left: 10px;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 600;
}

.get-size:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.square-background-color {
    background-color: #1a1a1a;
}


.default-color {
    background-color: #1a1a1a;
    margin-right: 20px;
}

.rainbow-color {
    background-color: rgb(11, 219, 91);
}
